* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
    --main-color: #5a2e98;
    --background-main: #4a267e;
    --background-color: #000;
    --text-color: #d9dddd;
    --text-color2: #000;
    --text-color3: #948f8f;
}

html {
    font-size: 16px;
}

body {
    background-color: #000;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.nav-container {
    position: relative;
    display: flex;
    padding: 20px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 3;
}

.nav-container div:last-child {
    margin-left: auto;
}
/*Burger Menu Start Here*/

.link-wrapper {
    position: relative;
    margin: 0 10px;
    top: -15px;
}

.nav-link {
    display: block;
    opacity: 0; 
    visibility: hidden;
    background-color: var(--main-color);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    position: absolute;
    border-radius: 7px;
    z-index: 2;
    width: 100%;
}

.nav-link.active {
    opacity: 1;
    visibility: visible;
}
.nav-link ul {
    list-style-type: none;
    padding: 10px 0;
}

.nav-link ul li {
    margin: 0 10px;
    
}
.nav-link ul li:not(:last-child) {
    margin: 0 10px;
    border-bottom: 2px solid var(--background-main);
}

.nav-link ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1rem;
    padding: 20px;
    display: block;
    transition: background-color 0.3s ease;
    font-weight: bolder;
}

.nav-link ul li a:hover {
    background-color: var(--background-main);
    border-radius: 7px;
}

/*Anime Logo and Name*/

.logo-wrapper {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.logo-wrapper img{
    height: 2.8rem;
    border-radius: 50%;
    border: 2px solid var(--main-color);
}

.logo-wrapper a {
    color: var(--text-color);
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

/* Right Icon */
.search-display {
    font-size: 1.5rem;
    margin-right: 15px;
}

.search-results-mobile {
    position: relative;
}

.search-wrapper {
    position: absolute;
    width: 100%;
}

#search-wrapper {
    display: none;
    z-index: 3;
}
.search-anime {
    display: flex;
    align-items: center;
}
.search-results-mobile input[type="search"] {
    border-radius: 66px;
    font-size: 1rem;
    padding: 15px 8px;
    background-color: var(--background-main);
    text-indent: 18px;
    width: 100%;
}

.search-results-mobile input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

.search-results-mobile input::placeholder {
    color:var(--text-color);
    opacity: 0.5;
}

.search-results-mobile input:focus {
    outline: none;
    border-color: var(--text-color);
    color: var(--text-color);
}

.search-results-mobile button {
    background: none;
    border: none;
    position: absolute;
}

.search-results-mobile .fa-magnifying-glass {
    font-size: 1.2rem;
    position: absolute;
    transform: translateY(-50%);
    cursor: pointer;
}

.search-anime button {
    right: 35px;
}



